@media (max-width: 1200px) {
  .hero-dish {
    width: 350px;
  }
  .hero-simple {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .navbar {
    flex-wrap: wrap;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: flex;    
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .nav-links.mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    z-index: 1000;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-simple {
    max-width: 80%;
    margin: 20px auto;
    font-size: 0.9rem;
  }
  .hero-dish {
    width: 300px;
    margin-top: 10px;
  }
  .carousel-container {
    width: 95%;
    height: 300px;
  }
  .carousel-btn {
    width: 28px;
    height: 41px;
  }
  .card {
    width: 170px;
    height: 240px;
  }
  .card img {
    width: 130px;
  }
  .card h3 {
    font-size: 0.8rem;
    margin-top: 20px;
  }
  .card p {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  .hero-dish {
    width: 150px;
  }
  .hero-simple {
    font-size: 0.7rem;
  }
  .card {
    width: 150px;
    height: 180px;
  }
  .card img {
    width: 90px;
  }
  .card h3 {
    font-size: 0.6rem;
    margin: 0;
  }
  .card p {
    font-size: 0.6rem;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(247,221,173,0.1);
    border: none;
    color: beige;
    width: 26px;
    height: 39px;
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 50%; */
    z-index: 10;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(248,216,157,0.945);
  }
  
  .carousel-btn.left {
    left: 10px;
  }
  
  .carousel-btn.right {
    right: 10px;
  }
  
  .carousel-btn:hover {
    background-color: rgba(247,221,173,0.6);
  }
}